body{
    background-color: rgb(1, 16, 1);
    color: white;

    

} 
.main-head{
    /* background-color: rgb(16, 199, 114); */
    /* color: rgb(229, 55, 55); */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    border-radius: 10px;
    font-size: 50px;


    background-image: radial-gradient(circle, #eea6ce, #e0a5d7, #d0a5de, #bda6e4, #a7a7e7, #95aff0, #80b7f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-clip: text;
    color: transparent; 
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}
.sub-head{
    width: 60%;
    background-color: lightblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    height: 60px;
    border-radius: 35px;
    padding-top: 20px;
    margin: 10px auto;

    text -webkit-text-stroke: 2px black;
    background-image: radial-gradient(circle, #435c7f, #586e8e, #6d809e, #8293ad, #98a6bd, #9eb3cc, #a2c0db, #a6cdea, #92d8f8, #76e3ff, #55eeff, #2ef9fc);
}

h2{
    border-radius: 10px;
    background-color: #62d8d4;
    font-family: sans-serif;
    /* border-left: 5px solid rgb(255, 0, 0);
    border-radius: 10px; */

}
h4{
    font-family: 'Courier New', Courier, monospace;
    color  : yellow;

}
audio{
    width: 100%;
    box-shadow: 5px -4px 8px aqua;
    border-radius: 40px;
}
.mvposter{
    /* width: 5%; */
   margin: 50px auto;
   text-align: center;
}
.poster, .trailer{
    box-shadow: 10px -10px 15px rgba(56, 231, 193, 0.432);
    border-radius: 10px;
}

p{
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 20px;
    text-align: justify;
}
abbr{
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 20px;
    text-align: justify;
    color: rgb(23, 16, 16);
    cursor: help;
}
.brdclr{
    background-color: #07e8fc;
    font-family: sans-serif;
   border-left: 5px solid rgb(255, 0, 0);
    border-radius: 10px;

    text-align: center;
    padding: 3px;
    margin: 10px auto;

    background-image: linear-gradient(to bottom, #c9c9c9, #abb0ba, #849baa, #588893, #2d7473);
}
.brdclr1{
    background-color: #2e393a;
    font-family: sans-serif;
   border-left: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
}
#highest{
    background-color: rgba(255, 255, 16, 0.883);
    color: rgb(33, 9, 9);

background-image: radial-gradient(circle, #e6311e, #ee6004, #f28700, #f0aa00, #ebcc12);
}
#stg{
    color: rgb(0, 255, 213);
    padding: 5px;
    border-radius: 10px;
}